<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h3> Date:  <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %></h2>
    
    <h1>Prepare - Priority</h1>
    <ul>
        <% priorities.forEach( el => { %>
            <li class='PriorityItem' data-id='<%=el._id%>'>
                <%= el.Priority %>
                <span class='del'> Delete </span>
            </li>
        <% }) %>
    </ul> 
        <form action="/todos/createPriority" method='POST'>
        <input type="text" placeholder="Today's Priority" name='PriorityItem'>
        <input type="submit">
    </form>

    <h1>TO-DO</h1>
    <h2><%= user.userName %> has <%= left %> things left to do.</h2>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>
    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <h1>Personal Growth</h1>
    <ul>
    <% personalgrowths.forEach( el => { %>
        <li class='PersonalGrowthItem' data-id='<%=el._id%>'>
                <%= el.PersonalGrowth %>
                <span class='del'> Delete </span>
        </li>
    <% }) %>
    </ul>
    <form action="/todos/createPersonalGrowth" method='POST'>
        <input type="text" placeholder="Enter Personal Growth Item" name='PersonalGrowthItem'>
        <input type="submit">
    </form>

    <h1>I'm Looking Forward To</h1>
    <ul>
    <% lookingforwards.forEach( el => { %>
        <li class='LookingForwardItem' data-id='<%=el._id%>'>
            <%= el.LookingForward %>
            <span class='del'> Delete </span>
        </li>
    <% }) %>
    </ul> 
    <form action="/todos/createLookingForward" method='POST'>
        <input type="text" placeholder="I'm Looking Forward To" name='LookingForwardItem'>
        <input type="submit">
    </form>
    
    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>